<div class="countainer">
    <h1 class="text-center">Filmes Campeoes de Bilheteria</h1>
    {{#each tops}}
        <div class="card">
            <div class="card-body">
        <div class="input-group mb-3">
            <label class="input-group-text">Nome</label>
            <input value="{{name}}" name="name" class="form-control" type="text" placeholder="Insira o Nome" disabled>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text">Pais de Origem</label>
            <input value="{{country}}" name="country" class="form-control" type="text" placeholder="Insira o Pais de Origem" disabled>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text">Ano</label>
            <input value="{{date}}" name="date" class="form-control" type="text" placeholder="Insira o Ano" disabled>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text">Genero</label>
            <input value="{{gener}}" name="gener" class="form-control" type="text" placeholder="Insira o Genero" disabled>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text">Bilheteria</label>
            <input value="{{access}}" name="access" class="form-control" type="text" placeholder="Insira a Bilheteria" disabled>
        </div>
            </div>
        </div>
    {{else}}
    <h1>Nenhum filme cadastrado</h1>
    {{/each}}
</div>